.ProgressBar{
    border: 1px solid orangered;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 20px;
    padding: 5px;
    background: linear-gradient(to right, orangered var(--passedTime), transparent var(--passedTime), transparent calc(100% - var(--passedTime)), transparent calc(100% - var(--passedTime)));            

    &--TrackRemaining{
        background: linear-gradient(to left, orangered calc(100% - var(--passedTime)), transparent calc(100% - var(--passedTime)), transparent var(--passedTime), white var(--passedTime));
    }

    &--color-green{
        background: linear-gradient(to right, green var(--passedTime), transparent var(--passedTime), transparent calc(100% - var(--passedTime)), transparent calc(100% - var(--passedTime)));            
    }

    &--color-red{
        background: linear-gradient(to right, red var(--passedTime), transparent var(--passedTime), transparent calc(100% - var(--passedTime)), transparent calc(100% - var(--passedTime)));            
    }

    &--big{
        background: linear-gradient(to right, green var(--passedTime), transparent var(--passedTime), transparent calc(100% - var(--passedTime)), transparent calc(100% - var(--passedTime)));            
    }
}





