.App{
    font-family: sans-serif;
}

.TimeboxEditor, .TimeboxCreator{
    text-align: right;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.TimeboxCreator {
    background-color: aqua;
}

.TimeboxEditor {
    background-color: aquamarine;
}

.Timebox {
    background-color: #ffaaaa;
}

.CurrentTimebox {
    background-color: #ffffaa;
}

.Timebox {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

input{
    min-width: 60%;
    margin-left: 20px;
    font-size: 16px;
}

button{
    font-size: 16px;
    margin-left: 10px; 
}

.CurrentTimebox{
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}

.Clock{
    color: orangered;
}

.ProgressBarTrackRemaining{
    border: 1px solid orangered;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 20px;
    padding: 5px;
    background: linear-gradient(to left, orangered calc(100% - var(--passedTime)), transparent calc(100% - var(--passedTime)), transparent var(--passedTime), white var(--passedTime));
}

.DefaultProgressBar{
    border: 1px solid orangered;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 20px;
    padding: 5px;
    background: linear-gradient(to right, orangered var(--passedTime), transparent var(--passedTime), transparent calc(100% - var(--passedTime)), white calc(100% - var(--passedTime)));            
}

.inactive{
    filter: blur(2px) grayscale(1);
}